<template name="AssortmentCategoryContent">
    <div class="ui {{tag}} tab segment" data-tab="{{title}}">

        <!-- Displaying the information labels -->
        <a class="ui green label information">Stk. på lager</a>
        <a class="ui red label information">Utsolgt</a>
        <a class="mini ui inverted blue button information">Ikke-medlem</a>
        <a class="mini ui inverted purple button information">Medlem</a>
        <div class="ui horizontal divider">{{title}}</div>


        {{#each assortment}}
            {{#if isMedlem title}}
                    <div class="massive ui inverted purple button">
                        {{title}}
                        {{#if inStock in_stock}}
                            <a class="ui green circular label">
                                {{in_stock}}
                            </a>
                        {{else}}
                            <a class="ui red circular label">

                            </a>
                        {{/if}}
                    </div>
            {{else}}
                <div class="massive ui inverted blue button">
                    {{title}}

                    {{#if inStock in_stock}}
                        <a class="ui green circular label">
                            {{in_stock}}
                        </a>
                    {{else}}
                        <a class="ui red circular label">

                        </a>
                    {{/if}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</template>