<template name="Dashboard">
    <div class="ui horizontal divider">#fuBar by the numbers</div>

    <div class="ui grid" style="margin: 1%;">
        <div class="two column row">
            <div class="column">
                <div class="ui segment">
                    <div id="bullet-chart-sales" style="margin-bottom: -2%">
                        <svg style="width: 100%;"></svg>
                    </div>
                    <div class="ui divider"></div>
                    <div>
                        <div class="ui form">
                            <div class="inline field">
                                <label>Time period:</label>
                                <input type="text" style="width: auto;" id="line-chart-from-date" class="datepicker"
                                       data-datepicker-format="YYYY-MM-DD"/> -
                                <input type="text" id="line-chart-to-date" class="datepicker"
                                       data-datepicker-format="YYYY-MM-DD"/>
                            </div>
                        </div>
                        <div id="lineChart">
                            <svg style="width:100%; min-height: 400px;"></svg>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    <div id="bullet-chart-profits" style="margin-bottom: -2%">
                        <svg style="width: 100%;"></svg>
                    </div>
                    <div id="bullet-chart-totalincome" style="margin-bottom: -2%">
                        <svg style="width: 100%;"></svg>
                    </div>
                    <div id="bullet-chart-bottlebeer" style="margin-bottom: -2%">
                        <svg style="width: 100%;"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <div class="ui segment">
                    <div>
                        <div id="stackedAreaGraph">
                            <svg style="width:100%; min-height: 1150px;"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>